<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDEBundleIdentifier</key>
	<string>com.kado-kado.catScreen</string>
	<key>LDEBundleInfo</key>
	<dict/>
	<key>LDEBundleShortVersion</key>
	<string>1.0</string>
	<key>LDEBundleVersion</key>
	<string>1.0</string>
	<key>LDECompilerFlags</key>
	<array>
		<string>-fobjc-arc</string>
	</array>
	<key>LDEDisplayName</key>
	<string>catScreen</string>
	<key>LDEExecutable</key>
	<string>catScreen</string>
	<key>LDELinkerFlags</key>
	<array>
		<string>-ObjC</string>
		<string>-lc</string>
		<string>-lc++</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>UIKit</string>
	</array>
	<key>LDEMinimumVersion</key>
	<string>26.0.1</string>
	<key>LDEProjectType</key>
	<integer>1</integer>
</dict>
</plist>
